In [21]:
#  Q1 홍길동 씨의 평균 점수
print("Q1 홍길동 씨의 평균 점수")
kor = 80;
eng = 75;
math = 55;
print(kor, eng, math)
print("홍길동의 평균 점수: ", (kor+eng+math)/3)

Q1 홍길동 씨의 평균 점수
80 75 55
홍길동의 평균 점수:  70.0

In [22]:
#  Q2 자연수 13이 홀수인지 짝수인지 판별
print("Q2 자연수 13이 홀수인지 짝수인지 판별")
if (13%2):
    # 홀수 일때 -> 1
 print("홀수 입니다.")
else:
    # 짝수 일때 -> 0
 print("짝수 입니다.")

Q2 자연수 13이 홀수인지 짝수인지 판별
홀수 입니다.

In [18]:
#  Q3 홍길동 씨의 주민등록번호를 연월일(YYYYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력
print("Q3 홍길동 씨의 주민등록번호")
num = "881120-1068234"
# 6번째 까지 자르기
yyyymmdd = num[:6]
# 7번째 부터 쭉 가져오기
back = num[7:]
print(yyyymmdd)  
print(back)

Q3 홍길동 씨의 주민등록번호
881120
1068234

In [20]:
# Q4 주민등록번호에서 성별을 나타내는 숫자를 출력
print("Q4 주민등록번호에서 성별을 나타내는 숫자를 출력")
num = "881120-1068234"
# 문자열 인덱싱 성별을 나타내는 숫자는 7번째 
gender = num[7]
print(gender)

Q4 주민등록번호에서 성별을 나타내는 숫자를 출력
1

In [37]:
# Q5 문자열의 replace 함수를 사용하여 a#b#c#d로 바꿔서 출력
print("Q5 문자열의 replace 함수를 사용하여 a#b#c#d로 바꿔서 출력")
a = "a:b:c:d"
# :를 #으로 바꿈
replace = a.replace(":", "#")
print(replace)

Q5 문자열의 replace 함수를 사용하여 a#b#c#d로 바꿔서 출력
a#b#c#d

In [40]:
# Q6 [1, 3, 5, 4, 2] 리스트를 [5, 4, 3, 2, 1]로
print("Q6 [1, 3, 5, 4, 2] 리스트를 [5, 4, 3, 2, 1]로")
lis = [1,3,5,4,2]
print(lis)
# 내림차순으로 정렬 - 내장 함수 sort 와 reverse 사용 
lis.sort( )
lis.reverse( )
print(lis)

Q6 [1, 3, 5, 4, 2] 리스트를 [5, 4, 3, 2, 1]로
[1, 3, 5, 4, 2]
[5, 4, 3, 2, 1]

In [42]:
# Q7 ['Life', 'is', 'too', 'short'] 리스트를 Life is too short 문자열로 출력
print("Q7 ['Life', 'is', 'too', 'short'] 리스트를 Life is too short 문자열로 출력")
Q7 = ['Life', 'is', 'too', 'short']
print(Q7)
# join 함수를 사용
A = " ".join(Q7)
print(A)

Q7 ['Life', 'is', 'too', 'short'] 리스트를 Life is too short 문자열로 출력
['Life', 'is', 'too', 'short']
Life is too short

In [45]:
# Q8 (1,2,3) 튜플에 값 4를 추가하여 (1,2,3,4)를 만들어 출력
print("Q8 (1,2,3) 튜플에 값 4를 추가하여 (1,2,3,4)를 만들어 출력")
Q8 = (1, 2, 3)
print(Q8)
# 더하기 사용 
Q8 = Q8 + (4,)
print(Q8)

Q8 (1,2,3) 튜플에 값 4를 추가하여 (1,2,3,4)를 만들어 출력
(1, 2, 3)
(1, 2, 3, 4)

In [87]:
# Q9 오류가 발생하는 경우

# 딕셔너리 선언
a = dict() 

# a['name'] = 'python'        -> 네임키워드에 파이썬을 넣음 오류 X
# a[('a',)] = 'python'        -> 튜플 a 키워드에 파이썬을 넣음 오류 X
# a[[1]] = 'python'           -> 배열1키워드에 파이썬을 넣음 배열은 오류 0
# a[250] = 'python'           -> 250 키워드에 파이썬을 넣음 오류 X

# 딕셔너리의 키워드로 설정하려면 값이 변하지 않아야 한다. 
# 문자열 , 튜플, 숫자는 고정되어 있지만 리스트 안에 존재하는 요소값은 고정되어 있지 않고 변할 수 있다. 
# 그러므로 오류 unhashable type: 'list'

# a 출력
a

TypeError: unhashable type: 'list'

In [91]:
# Q10 딕셔너리 a에서 'B'에 해당되는 값을 추출
print("Q10 딕셔너리 a에서 'B'에 해당되는 값을 추출")
#딕셔너리 선언
a = {'A':90, 'B':80, 'C':70}
# 딕셔너리에서 가져오기
# print(a.get('B'))
# pop 로 가져와보기
print(a.pop('B'))

Q10 딕셔너리 a에서 'B'에 해당되는 값을 추출
80

In [93]:
# Q11 a 리스트에서 중복 숫자를 제거
print("Q11 a 리스트에서 중복 숫자를 제거")
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
print(a)
# 집합자료형으로 변환 집합으로 바꾸면 종류별로 하나씩만 생김 
aSet = set(a)
# 집합을 리스트로 형변환
result = list(aSet) 
print(result)

Q11 a 리스트에서 중복 숫자를 제거
[1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
[1, 2, 3, 4, 5]

In [105]:
# Q12 이런 결과가 오는 이유
print("Q12 이런 결과가 오는 이유")
a = b = [1, 2, 3]  # a= b 하면 a와 b가 가리키는 곳이 같아짐.
a[1] = 4  # a 두번째 방에 4를 넣음.
print(b)  # 그러므로 같은 결과가 나오게 된다. b를 기준으로 바뀌어도 a도 바뀐다.
b[1] = 1;
print("또바꿈!",a)

Q12 이런 결과가 오는 이유
[1, 4, 3]
또바꿈! [1, 1, 3]